// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $white !important;
}

a {
  text-decoration: underline;
}

.tech-link:visited {
  color: #c0c0c0 !important;
}

.container.header {
  background: $white;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

h1 {
  font-weight: 900;
  font-size: 38px;
  font-family: 'Arial Black', Gadget, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media only screen and (max-width: #{$global-breakpoint}) {font-size: 32px;}
}
.wrap-picture {
  background: url('https://marketing-image-production.s3.amazonaws.com/uploads/dac6171d994e3ada4446aacbfbb7a5613c50a4cfebc600c88b9bbfe35482f33d38b82c080678fc71a84894f5d716afa18ccc8ae0e417184a3a4fd16ca699fc99.jpg') top center no-repeat;
  background-size: cover;
}
.wrap-number {
  background-color: #ffffff;
}
.wrap-number p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 8px;

  // @media only screen and (max-width: #{$global-breakpoint}) {letter-spacing: 3px !important;}
}
.wrap-number th.last {
  padding-bottom: 0;
}
.wrap-dashed {
  border: 1px dashed #ffffff;
}
.cta a {
  line-height: 40px;
}
.tech-link {
  font-size: 10px;
  color: #c0c0c0;
}
.we-know {
  // font-size: 14px;
  color: $black;
  letter-spacing: 2.5px;
  line-height: 33px;

  @media only screen and (max-width: #{$global-breakpoint}) {letter-spacing: 1.5px;}
}
.discount {
  color: $white;
  text-transform: uppercase;
  // font-size: 12px;
  letter-spacing: 2px;
}
.discount strong {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: 900;
}
.percents {
  font-size: 30px;
}
.star {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;
}
.desc {
  // font-size: 11px;
  color: $white;
  letter-spacing: 2px;
  line-height: 22px;
}
h3 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: $white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.cta a {
  font-weight: normal !important;
  // font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 30px !important;

  @media only screen and (max-width: 425px) {font-size: 10px !important; letter-spacing: 1.3px !important;}
}
.regards {
  font-size: 12px;
  color: #787878;
  line-height: 18px;
  letter-spacing: 1px;
}
.regards a {
  color: inherit;
}
.contacts {
  font-size: 12px;
  color: #c0c0c0;
  line-height: 18px;
  letter-spacing: 1px;
}
.preheader {
  // display: none;
  font-size: 1px;
  color: #ffffff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}
.main-wrap {
  background-color: #eeeeee;
}